*
{
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
}
.header
{
    background: rgb(53, 1, 53);
}
.nav-bar
{
    padding-top: 10px !important;
}
.nav-item
{
    margin-top: 40px;
    margin-bottom: 10px;
}
.nav-link
{
    color: white !important;
    font-size: 14px !important;
    font-style: bold!important;
    padding: 10px 10px 10px 0 !important;
    display: unset !important;
}
.navbar-brand img{
    width: 120px;
}
.fa-bars{
    color: white;
    font-size: 30px;
}
.navbar-toggler
{
    border: 0 !important;
    outline: none !important;
    padding: initial !important;
}
.active-home
{
    border-bottom: 2px white;
}
.nav-link:hover{
    border-bottom: 2px white;

}
.banner
{
    margin-top: 8%;
    color: white;
}
.banner h1{
    margin:30px 20px 20px ;
    font-weight: 400;
    font-size: 40px;

}
.banner img {
    max-height: 400px;
}
.banner a{
    padding: 10px;
    width: 60px;
    display: inline block;
    margin: 20px 20px 20px;
    
    
    background:rgb(39, 1, 39);
    text-decoration: none !important;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    text-align: center;
    margin-top: 40px;
    
    
    font-size: 14px;
}
.banner a:hover{
    color: white;
}
.express-btn{
    background: white!important;
    color: black !important;
    margin-right: 5px;


}
/*------ service ------*/
.service{
    margin: 70px 0;
}
.title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}
.subtitle{
    text-align: center;
    margin-bottom: 60px;
    font-size: 15px;
}
.service-box{
        padding: 20px 30px;
        cursor: pointer;
        margin-bottom: -10px;
}
.service-box img{
    width: 60px;
    margin-top: 60px;
    margin-bottom: 35px;
}
.service-box h3{
    margin-bottom: 100px;
    font-size: bold;
}
.service-box p{
    font-size: 14px;
    color: rgb(197, 27, 27);
}
.fa-arrow-right{
    font-size: 20px !important;
    margin-top: 30px;
    margin-bottom: 35px;
    cursor: pointer;
}
.service-box:hover{
    background:rgb(68, 4, 68);
    border-radius: 20px;
    color: white !important;
    box-shadow: 0 5px 5px 2px rgba(213,213,213,0.5);
}
.service-box:hover p{
    color: white;

}
/*----- feature -----*/
.feature{
    margin: 200px 0;

}
.feature img{
    max-width: 60%;
    cursor: pointer;
}
.feature h4{
    margin-top: 100px;
    font-weight: bold;
    line-height: 100%;

}
.feature p{
    margin-top: 35px;
    margin-bottom:35px ;
    color:rgb(65, 9, 65);
    font-size: 18px;
    line-height: 18px;

}
.feature a{
    width: 150px;
    padding: 15px 10px;
    display: block;
  
    background:rgb(70, 7, 70);
    text-decoration: none !important;
    color: white;
    border-radius: 35px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0 9pxm 9px 1pxrgba(204,204,204,0.5);

}
/*----- explore -----*/
.Explore{
    margin: 200px 0;

}
.explore img{
    max-width: 60%;
    cursor: pointer;
}
.explore h5{
    margin-top: 40px;
    font-weight: bold;
    line-height: 130%;

}
.explore p{
    margin-top: 35px;
    margin-bottom:35px ;
    color:rgb(65, 9, 65);
    font-size: 18px;
    line-height: 18px;

}
.explore a{
    width: 150px;
    padding: 15px 10px;
    display: block;
  
    background:rgb(70, 7, 70);
    text-decoration: none !important;
    color: white;
    border-radius: 35px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0 9pxm 9px 1pxrgba(204,204,204,0.5);

}
.explore a{
    margin-bottom: 50px;
}
/*----- review -----*/
.review{
    margin: 100px 0;

}
.carousel-item img{
    width: 80px;
    border-radius: 40%;
}
.carousel-item {
    text-align: center;
    height: 400px;
}
.carousel-caption{
    z-index: -1 !important;
    box-shadow: 0 0 15px 1px rgb(153, 111, 153);
    border-radius: 5px;
    margin-bottom: 50px;
    
}
.carousel-caption h5{
           margin-top: 40px;
           font-weight: bold;
           color: black !important;
}
.carousel-caption small{
    margin-top: 10px;
    margin-bottom: 40px;
    display: block;
    color: black !important;

}
.carousel-caption p{
   text-align: center;
   padding:0 50px;
   font-size: 14px;
   color: black !important;
}
.carousel-indicators li{
    background-color: purple !important;
    margin-bottom: 20px;
}
/*----- footer -----*/
.footer{
    padding-top: 20px;
    background-color: rgb(51, 2, 51);
}
.footer h6{
    color: white;
    font-weight: 400%;
    font-size: 26px;
    
}
.footer input{
       width:  50%;
       background: transparent;
       outline: none;
       border: 0;
       border-bottom: 1px solid white;
       padding: 20px;
       color: white;
       margin-bottom: 30px;
       text-align: center;
}
::placeholder{
    color: thistle;
    font-size: 13px;
}
.footer-buttom{
    padding: 10px;
    width:80%;
    margin: auto;
    display: black;
    color: white;
    border: 10px solid white;
    font-size: 16px;
    background: transparent;
    
}
.footer small{
    font-size: 16px;
    padding: 60px;
    padding-bottom: 20px;
    color: white;
    display: block;

}